    
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <th:object th:replace="base :: bt"></th:object>
</head>
<body>
    <div th:replace="base :: menu"></div>

    <main class="container">
        <form th:action="@{/admin/courses}">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Tìm theo tên" name="kw">
            </div>
            <div class="row mb-3 mt-3">
                <div  class="col-6">
                    <input type="number" class="form-control" placeholder="Từ giá" name="fromPrice">
                </div>
                <div  class="col-6">
                    <input type="number" class="form-control" placeholder="Đến giá" name="toPrice">
                </div>
            </div>
            <div class="mb-3 mt-3">
                <button class="btn btn-info">Tìm Khóa học</button>
            </div>
        </form><!--
        -->            <div class="mt-2 mb-2">
            <a th:href="@{/admin/courses/create}" class="btn btn-info">Thêm sản phẩm</a>
        </div><!--
        -->            <table class="table table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th></th>
                    <th>ID</th>
                    <th>Tên khóa học</th>
                    <th>Giá thành</th>
                    <th>Ngày tạo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c, stat : ${courses}">
                    <td th:text="${stat.count}"></td>
                    <td>
                        <img th:src="${c.imageUrl}" width="200" class="rounded" />
                    </td>
                    <td th:text="${c.id}"></td>
                    <td th:text="${c.title}"></td>
                    <td th:text="${c.tuitionFee} + ' VNĐ'"></td>
                    <td th:text="${#dates.format(c.createdAt, 'dd/MM/yyyy')}"></td>
                    <td>
                        <div class="d-flex gap-2">
                            <a th:href="@{/admin/courses} + '/' + ${c.id}" class="btn btn-success">Cập nhật</a>
                            <form th:action="@{/admin/courses/delete/{id}(id=${c.id})}" method="post"
                                  onsubmit="return confirm('Bạn chắc chắn muốn xóa?');">
                                <button type="submit" class="btn btn-danger">Xóa</button>
                            </form>
                        </div>

                        <!--<button class="btn btn-danger" th:onclick="'deleteCourse(\'' + @{/admin/courses/} + ${c.id} + '\')'">Xóa</button>-->
                        <!--<button class="btn btn-danger" >Xóa</button>-->
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/admin/courses(page=${currentPage - 1})}">Trước</a>
                    </li>

                    <li class="page-item"
                        th:each="i : ${#numbers.sequence(1, totalPages)}"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/admin/courses(page=${i})}"
                           th:text="${i}"></a>
                    </li>

                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/admin/courses(page=${currentPage + 1})}">Sau</a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>

    <div th:replace="base :: footer"></div>

    <script th:src="@{/js/main.js}"></script>
</body>
</html>