 <!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <th:object th:replace="base :: bt"></th:object>
    </head>
    <body>
        <div th:replace="base :: menu"></div>

        <main class="container">
            <div class="mt-4 mb-4">
                <a class="nav-link" th:href="@{/courses}">Khóa Học</a>
                <a class="nav-link" th:href="@{/chapters}">Chương</a>
                <a class="nav-link" th:href="@{/lessons}">Bài học</a>
                <a class="nav-link" th:href="@{/users}">Người dùng</a>
                <a class="nav-link" th:href="@{/enrollments}">Đăng kí khóa học</a>
                <a class="nav-link" th:href="@{/qnas}">QnA</a>
                <a class="nav-link" th:href="@{/lesson-progress}">Tiến độ học bài</a>
                <a class="nav-link" th:href="@{/payments}">Thanh toán</a>
                <a class="nav-link" th:href="@{/reviews}">Đánh giá</a>
                
                
            </div>
            
           
        </main>

        <div th:replace="base :: footer"></div>
        
        <script th:src="@{/js/main.js}"></script>
    </body>
</html>